{% extends 'base.html' %}
{% block title %}Load Game{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <h1>Fight!</h1>
    <h3>Info about battle</h3>
    <ul id="nav">
        <li><a>Moviemon Strength {{ moviemon.strength }}</a></li>
        <li><a>{{ moviemon.poster }}</a></li>
        <li><a>Movieballs - {{ player.movieballs }}</a></li>
        <li><a>Player Strength {{ player.strength }}</a></li>
        <li><a>Winning Rate {{ winning_rate }}</a></li>
    </ul>
    <ul>
        <li><a href="">A : Throw a movieball</a></li>
        <li><a href="../../worldmap">B: Returns to Worldmap</a></li>
    </ul>
{% endblock %}