{% extends 'base.html' %}
{% block title %}Load Game{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <h1>Fight!</h1>
    <h3>Info about battle</h3>
    <ul>
        <li><a>Moviemon Strength {{ rating }}</a></li>
        <li><a><img src={{ poster }} alt="Nice cock" /></a></li>
        <li><a>Movieballs - {{ movieballs }}</a></li>
        <li><a>Player Strength {{ strength }}</a></li>
        <li><a>Winning Rate {{ winning_rate }}</a></li>
    </ul>
    <ul>
        <li><a href="throw">A</a> : Throw a movieball</li>
        <li><a href="../../worldmap">B</a> : Returns to Worldmap</li>
    </ul>
{% endblock %}