{% extends 'base.html' %}
{% block title %}Detail of a moviemon.{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <h1>There is your Moviemon! </h1>

        <h2>Moviemon</h2>
    <ul id="nav">
        <li><a>Movie: {{ moviemon.name }}</a></li>
        <li><a><img src={{ moviemon.poster }} /></a></li>
        <li><a>Director: {{ moviemon.director }}</a></li>
        <li><a>Year: {{ moviemon.year }}</a></li>
        <li><a>IMDb Rating: {{ moviemon.rating }}</a></li>
        <li><a>Synopsis: {{ moviemon.synopsis }}</a></li>
        <li><a>Actors: {{ moviemon.actors }}</a></li>
    </ul>
    <ul>
        <li><a href="../../moviedex">select</a> - Back</li>
    </ul>
{% endblock %}