{% extends 'base.html' %}
{% block title %}Start Page of Moviemon{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <h1>Moviemon game. Let's Play! </h1>

        <h2>A - New Game</h2>
        <h2>B  - Load</h2>

    <ul class="navbar-nav mr-auto flex-wrap flex-row">
        <li>Up</li>
        <li>Down</li>
        <li>Left</li>
        <li>Right</li>
    </ul>

    <ul class="navbar-nav mr-auto flex-wrap flex-row">
        <li><a href="worldmap/delete_game">A</a> - New Game</li>
        <li><a href="options/load_game">B</a>  - Load</li>
        <li>start</li>
        <li>select</li>
    </ul>
{% endblock %}